p {
  color: #000;
  font-size: 20px
}

.center {
    margin:0 auto;
    width: 20%;
    border: 1px solid #73AD21;
    padding: 10px;
    background-color: black;
    color: #73AD21
}

#heading {
  margin: auto;
  text-align: center;
}

#warning {
  padding: 10px;
  margin: auto;
  text-align: center;
}

#input {
  margin: auto;
  text-align: center;
}

.bottom {
  margin:0 auto;
  width: 20%;
  border: 1px solid #73AD21;
  padding: 10px;
  background-color: black;
  color: #73AD21
}

#list {
  margin: auto;
  text-align: center;
  height: 300px;

}

#list #list-heading {
  text-align: center;

}

#pal-box {
  margin:0 auto;
  width: 200px;
  border: 3px solid #73AD21;
  padding: 10px;
  height: 200px;
  background-color: white
}

#palindromes {
  text-align: center;
  margin-right: 40px;
}
